.indicators {
	position: absolute;
	overflow: visible;
}
.indicators.topleft {
	left:0; top:0;
}
.indicators.topcenter {
	left:50%; top:0;
	margin-left:-100px;
	width:200px;
}
.indicators.topright {
	right:0; top:0;
}
.indicators.topbg {
	top:0;
	left:0; right:0;
	height:50px;
	background-image: url(/images/top-bg.png);
}
.indicators.bottombg {
	bottom:0;
	left:0; right:0;
	height:50px;
	background-color: yellow;
}

.drop-area {
	display: inline-block;
	width:80px; height:30px;
	text-align:center;
	background: #aaa;
}

.indicators #make-tab {
	display: none;
}

