.indicators {
	position: absolute;
	overflow: visible;
}
.indicators.topleft {
	left:0; top:0;
}
.indicators.topcenter {
	left:50%; top:0;
	margin-left:-100px;
	width:200px;
}
.indicators.topright {
	right:0; top:0;
}

.drop-area {
	display: inline-block;
	width:80px; height:30px;
	text-align:center;
	background: #aaa;
}

.indicators #make-tab {
	display: none;
}

.content {
	position: absolute;
	left:0;
	width:100%;
	top: 40px;
	bottom: 20px;
	overflow: hidden;
}

/* Upper and Lower */
.upper,.lower,.divider {
	width:100%;
}
.upper,.lower {
	position: relative;
	overflow: hidden;
}
.divided-100-0 .upper {
	height: 100%;
}
.divided-100-0 .lower {
	top: -10px;
	height: 0%;
}
.divided-66-33 .upper {
	height: 66%;
}
.divided-66-33 .lower {
	top: -10px;
	height: 34%;
}
.divided-33-66 .upper {
	height: 34%;
}
.divided-33-66 .lower {
	top: -10px;
	height: 66%;
}
.divided-0-100 .upper {
	height: 0;
}
.divided-0-100 .lower {
	top: -10px;
	height: 100%;
}

/* divider */
.divider {
	position: relative;
	top: -5px; height: 10px;
	background: #448;
	z-index: 100;
}


/* PANEL */
.panel {
	float: left;
	padding: .5em;
	border: 1px dotted #888;
}
.panel tbody {
	padding: .5em;
	border-left: 1px dashed black;
}
.panel td {
	padding: .5em;
}

#panel-1 {
}

#panel-2 {
}

#panel-3 {
}

#panel-4 {
}


