@import "style.css";
@import "clearfix.css";
@import "indicators.css";
@import "layout.css";
@import "component.css";
@import "jquery.jscrollpane.css";

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}