.leftcontrols, .rightcontrols {

	.upper & {
		position:absolute;
		top:0; bottom:0;
		width:50px;
		text-align: center;
		border-left:1px dotted black;

		z-index: 100; /* above toppanel */
		overflow: hidden;
		
		background-color: rgb(167,167,167);

		button {
			width:30px;
			margin:5px;
			/* use text-align for now, display:block; */
		}
		
	}
}

.leftcontrols {
	.upper & {
		left: -50px;
	}

		button.active-finder {
			width: 36px; height: 30px;
			border: 0 none;
			background-image: url(../images/button/active-finder.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		button.chat {
			width: 36px; height: 30px;
			border: 0 none;
			background-image: url(../images/button/chat-3.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		
		button.help {
			position: absolute;
			left: 5px;
			bottom: 20px;
			border: 0 none;
			background-image: url(../images/button/help.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
}
.rightcontrols {
	.upper & {
		right: -50px;
	}
}

.leftpanel,.rightpanel {
	position:absolute;
	top:0; bottom:0;
	overflow: hidden;
	-moz-transition: $main-panel-transition;
    -webkit-transition: $main-panel-transition;
    -o-transition: $main-panel-transition;
    transition: $main-panel-transition;
}

.leftpanel {
	left: -$side-panel-width; width: $side-panel-width;
}
.rightpanel {
	right: -$side-panel-width; width: $side-panel-width;
}

.leftopen .leftpanel.toppanel {
	left:0;
}
.rightopen .rightpanel.toppanel {
	right:0;
}

.toppanel {
	z-index:50;
}

