		<div class="leftpanel clearfix" id="leftpanel-1">
			<div class="panel-content">{% include search_panel.html %}</div>
		</div>
		<div class="leftpanel clearfix" id="leftpanel-2">
			<div class="panel-content">{% include watchlists_panel.html %}</div>
		</div>
		<div class="leftpanel clearfix" id="leftpanel-3">
			<div class="panel-content">{% include chat_panel.html %}</div>
		</div>

		<div class="rightpanel clearfix" id="rightpanel-1">
			<div class="panel-content">{% include ticket_panel.html %}</div>
		</div>
		<div class="rightpanel clearfix" id="rightpanel-2">
			<div class="panel-content">{% include ticket_panel.html %}</div>
		</div>
		<div class="rightpanel clearfix" id="rightpanel-3">
			<div class="panel-content">{% include ticket_panel.html %}</div>
		</div>

		<div class="leftcontrols sidecontrols">
		<button class="" data-pop-panel="leftpanel-1"> 1 </button>
		<button class="" data-pop-panel="leftpanel-2"> 2 </button>
		<button class="" data-pop-panel="leftpanel-3"> 3 </button>
		</div>
		<div class="rightcontrols sidecontrols">
		<button class="" data-pop-panel="rightpanel-1"> 1 </button>
		<button class="" data-pop-panel="rightpanel-2"> 2 </button>
		<button class="" data-pop-panel="rightpanel-3"> 3 </button>
		</div>

		<div class="panel mainpanel clearfix" id="panel-1" draggable="true">
			<button class="breakout">Breakout</button>
			<div class="panel-content">
				<table>
					{% include focusable_table_row.html %} {% include focusable_table_row.html %}
					{% include focusable_table_row.html %} {% include focusable_table_row.html %}
				</table>
			</div>
		</div>
	
		<div class="panel mainpanel clearfix" id="panel-2" draggable="true">
			<button class="breakout">Breakout</button>
			<div class="panel-content">
				<table>
					{% include focusable_table_row.html %} {% include focusable_table_row.html %}
					{% include focusable_table_row.html %} {% include focusable_table_row.html %}
				</table>
			</div>
		</div>
