		<div class="panel clearfix" id="panel-1" draggable="true">
			<button class="breakout">Breakout</button>
		<table>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		</table></div>
	
		<div class="panel clearfix" id="panel-2" draggable="true">
			<button class="breakout">Breakout</button>
		<table>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		<tr><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td></tr>
		</table></div>
