---
title: Layout 4 - Breakout Demo
layout: master
myscripts: /js/mylibs/demo.js
simple: production
window_name: layout-L4
---
<div class="indicators topleft"></div>

<div class="indicators topcenter">
	<span class="drop-area" target="new-window">New Window</span>
	<span class="drop-area" target="new-tab">New Tab</span>
	<form method="GET" action="./#panel-4" target="new-panel-4" id="make-tab"><button type="submit" class="breakout">(internal)</button></form>
</div>

<div class="indicators topright"></div>

<div class="content divided-66-33">

	<div class="upper">
{% include upper_panels.html %}	
	</div>
	<div class="divider">
	<button class="divider-up">up</button>
	<button class="divider-down">down</button>
	</div>
	<div class="lower">
{% include lower_panels.html %}	
	</div>

</div>

